# Gemini API
VITE_GEMINI_API_KEY=""

# Firebase Configuration
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
VITE_FIREBASE_FIRESTORE_DATABASE_ID=""

# App Configuration
VITE_APP_URL="https://ais-dev-cjjeikhkk5loy5svtonbs3-299230804825.us-east1.run.app"
VITE_API_URL=""

# Stripe Configuration
# Pegue estas no Dashboard do Stripe (Desenvolvedores -> Chaves API)
STRIPE_SECRET_KEY=""
VITE_STRIPE_PUBLISHABLE_KEY=""

# IDs dos Preços (Vá em Stripe -> Produtos -> Escolha o Produto -> Copie o "API ID" do Preço)
# ID para o plano de R$ 29,90/mês
STRIPE_MONTHLY_PRICE_ID="price_1TXNEaGqodgUicbTYG0SPo4j"
# ID para o plano de R$ 297,90/ano
STRIPE_ANNUAL_PRICE_ID="price_1TXOHnGqodgUicbTyhPXiUYO"

# Webhook Secret (Dashboard -> Webhooks -> Clique no seu endpoint -> Revelar segredo de assinatura)
STRIPE_WEBHOOK_SECRET="whsec_c1QIgumN2ZbFGObB3sHLqd5CkbwYDwSg"

# Firebase Admin Service Account (Conteúdo completo do arquivo JSON baixado do Firebase)
FIREBASE_SERVICE_ACCOUNT_JSON=''

# Resend API Key (Para envio de e-mails transacionais)
RESEND_API_KEY=""
